Repository icssc/AntAlmanac, pull requests merged in 2024-12, with the labels that each got.

#1066 Fix DB migration
  apps/backend/src/db/index.ts
Labels: bug, backend

#1069 Increase lambda timeout to 10 seconds
  apps/cdk/src/stacks/backend.ts
Labels: bug, backend

#1080 Migrate feedback form to Asana
  apps/antalmanac/src/components/Header/AboutButtonGroup.tsx
  apps/antalmanac/src/routes/Feedback.tsx
Labels: enhancement, high

#1084 deps: upgrade tsx
  apps/backend/package.json
  apps/cdk/package.json
  package.json
  pnpm-lock.yaml
Labels: bug
